<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group p-5">
            <div class="card p-4">
              <div class="card-body p-4">
                <h5 class="card-title ">Set New Password</h5>
                <div>
                  <div id="errorMsg" *ngIf="errorMessage">
                    <span>{{errorMessage}}</span>
                  </div>
                  <div id="successMsg" *ngIf="successMessage">
                    <span>{{successMessage}}</span>
                  </div>
                  <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword()">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" formControlName="newPassword"
                        placeholder="Type your password here"
                        [ngClass]="{'is-invalid': submitted && ResponseResetForm.controls.newPassword.errors, 'is-valid': submitted && !ResponseResetForm.controls.newPassword.errors}">
                      <div *ngIf="submitted && ResponseResetForm.controls.newPassword.errors" class="invalid-feedback d-block">
                        <div *ngIf="ResponseResetForm.get('newPassword').hasError('required')">The password is required.</div>
                        <div *ngIf="ResponseResetForm.get('newPassword').hasError('pattern')">The password must contain ...
                        </div>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" formControlName="confirmPassword"
                        placeholder="Repeat your password here"
                        [ngClass]="{'is-invalid': submitted && ResponseResetForm.controls.confirmPassword.errors, 'is-valid': submitted && !ResponseResetForm.controls.confirmPassword.errors}">
                      <div *ngIf="submitted && ResponseResetForm.controls.confirmPassword.errors"
                        class="invalid-feedback d-block">
                        <div *ngIf="ResponseResetForm.get('confirmPassword').hasError('required')">The password Confirm is
                          required.
                        </div>
                        <div  *ngIf="ResponseResetForm.controls.confirmPassword.errors.compare" >Passwords must match</div>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <div>

                        <button type="submit" class="  btn btn-primary">Update
                          Password</button>

                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </main>
</div>