<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="formRegister"  (ngSubmit)="signUp()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="nom" placeholder="Type your first name here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.nom.errors, 'is-valid': submitted && !formRegister.controls.nom.errors}">
                  <div *ngIf="submitted && formRegister.controls.nom.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('nom').hasError('required')">The first name is required.</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="prenom"
                    placeholder="Type your last name here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.prenom.errors, 'is-valid': submitted && !formRegister.controls.prenom.errors}">
                  <div *ngIf="submitted && formRegister.controls.prenom.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('prenom').hasError('required')">The last name is required.</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="dateNaissance"
                    placeholder="Type your birth date here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.dateNaissance.errors, 'is-valid': submitted && !formRegister.controls.dateNaissance.errors}">
                  <div *ngIf="submitted && formRegister.controls.dateNaissance.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('dateNaissance').hasError('required')">The birth is required.
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <select name="multiple-select" class="form-control" formControlName="sexe"
                    placeholder="Type your sexe here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.sexe.errors, 'is-valid': submitted && !formRegister.controls.sexe.errors}">
                    <option value="Male">Male</option>
                    <option value="femme">femme</option>
                  </select>
                  <div *ngIf="submitted && formRegister.controls.sexe.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('sexe').hasError('required')">The sexe is required.</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="adresse" id="defaultRegisterFormAdresse"
                    placeholder="Type your address here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.adresse.errors, 'is-valid': submitted && !formRegister.controls.adresse.errors}">
                  <div *ngIf="submitted && formRegister.controls.adresse.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('adresse').hasError('required')">The address is required.</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="tel"
                    placeholder="Type your phone number here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.tel.errors, 'is-valid': submitted && !formRegister.controls.tel.errors}">
                  <div *ngIf="submitted && formRegister.controls.tel.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('tel').hasError('required')">The phone is required.</div>
                  </div>

                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="numCNSS"
                    placeholder="type your social security number"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.numCNSS.errors, 'is-valid': submitted && !formRegister.controls.numCNSS.errors}">
                  <div *ngIf="submitted && formRegister.controls.numCNSS.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('numCNSS').hasError('required')">The social number is required.</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="email"
                    placeholder="Type your e-mail address here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.email.errors, 'is-valid': submitted && !formRegister.controls.email.errors}">
                  <div *ngIf="submitted && formRegister.controls.email.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('email').hasError('required')">The E-mail is required.</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password"
                    placeholder="Type your password here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.password.errors, 'is-valid': submitted && !formRegister.controls.password.errors}">
                  <div *ngIf="submitted && formRegister.controls.password.errors" class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('password').hasError('required')">The password is required.</div>
                    <div *ngIf="formRegister.get('password').hasError('pattern')">The password must contain ...</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="passwordConfirm"
                    placeholder="Repeat your password here"
                    [ngClass]="{'is-invalid': submitted && formRegister.controls.passwordConfirm.errors, 'is-valid': submitted && !formRegister.controls.passwordConfirm.errors}">
                  <div *ngIf="submitted && formRegister.controls.passwordConfirm.errors"
                    class="invalid-feedback d-block">
                    <div *ngIf="formRegister.get('passwordConfirm').hasError('required')">The password Confirm is
                      required.
                    </div>
                    <div  *ngIf="formRegister.controls.passwordConfirm.errors.compare" >Passwords must match</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>